


<table style="width: 100%;">


   <tr>  <!--Heading -->
    <th style="table-layout: fixed;">Connector</th>
    <th style="table-layout: fixed;">Department</th>
    <th style="table-layout: fixed;">Zone</th>
    <th style="table-layout: fixed;">Station</th>
    <th style="table-layout: fixed;">Model</th>
    <th style="table-layout: fixed;">Last Updated</th>
    <th style="table-layout: fixed;">Actions</th>
  </tr>  <!--Heading -->



  <!--Body of table-->
  <tr *ngFor="let row of backendData; index as i;"  class="hover-highlight" >
  
    <!--Connector Name column-->
    <td class="benchmark_name selectpicker" style="table-layout: fixed;"> 
       <span *ngIf="enableEditIndex != i">{{row.name}}</span>
       <input maxlength="10" minlength="4" size = "7" type="text" [(ngModel)]="row.name" *ngIf="enableEdit && enableEditIndex == i"/>
    </td>

    <!--Department Selection column-->
    <td style="table-layout: fixed;">
      <span *ngIf="enableEditIndex != i">{{row.dept}}</span>
      <select [(ngModel)]="row.dept" *ngIf="enableEdit && enableEditIndex == i" data-live-search="true" class="selectpicker">
        <option *ngFor="let option of Departments" [value]="option" data-tokens="option">
          {{option}}
        </option>
      </select>
    </td>

    <!--Zone Selection column-->
    <td style="table-layout: fixed;">
      <span *ngIf="enableEditIndex != i">{{row.zone}}</span>
       <select [(ngModel)]="row.zone" *ngIf="enableEdit && enableEditIndex == i">
        <option *ngFor="let option of Zones" [value]="option">
          {{option}}
        </option>
      </select>
    </td>

    <!-- Station Selection column-->
    <td style="table-layout: fixed;">
      <span *ngIf="enableEditIndex != i">{{row.station}}</span>
      <select [(ngModel)]="row.station" *ngIf="enableEdit && enableEditIndex == i">
        <option *ngFor="let option of Stations" [value]="option">
          {{option}}
        </option>
      </select>
    </td>

    <!-- Model Selection column-->
    <td style="table-layout: fixed;">
      <span *ngIf="enableEditIndex != i">{{row.model}}</span>
      <select [(ngModel)]="row.model" *ngIf="enableEdit && enableEditIndex == i">
        <option *ngFor="let option of Models" [value]="option">
          {{option}}
        </option>
      </select>
    </td>

    <!-- Last Used Time column-->
    <td style="table-layout: fixed;">
      <span>{{row.lastUpdated | date:'h:mm a - M/d/yyyy'}}</span>
    </td>

    <!-- Actions column-->
    <td style="table-layout: fixed;">
      <a id="save" href="#" *ngIf="enableEdit && enableEditIndex == i" class="btn page-primary-action-btn" (click)="saveSegment(row)" type="submit">✓ Save <a style="color:black">| </a> </a>
      <a id="cancel" href="#" *ngIf="enableEdit && enableEditIndex == i" (click)="enableEdit=false; cancel(row)" class="btn page-secondary-action-btn" >✗ Cancel </a>
      <a id="edit" href="#" class="table-row-action edit-action" *ngIf="i != enableEditIndex || enableEditIndex == null" (click)="enableEditMethod($event, i, row)">✎ Edit </a>
      <a id="delete" href="#" class="table-row-action delete-action" (click)="deleteSegment(row)" type="submit"><a style="color:black">| </a>🗑 Delete</a>
    </td>

  </tr>
  <!--Body of table-->

  

  </table>
  <br>
  <span style="color: red;">{{errorMessage}}</span>
  